.projects-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.projects-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
