.home {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.image-and-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -5rem;
}

.flex_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction {
  & > h2 {
    margin: 2rem;
    font-weight: 600;
  }
}

.home_avatar_image_location {
  z-index: 1;
  left: 50%;
  top: -4rem;
  transform: translate(-50%);
}

.home_avatar {
  width: 15rem;
  border-radius: 50%;
  box-shadow: 1px 7px 22px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 1px 7px 22px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 1px 7px 22px -4px rgba(0, 0, 0, 0.51);
}

.wrapper {
  display: flex;
  margin-top: 1.2rem;
}

.wrapper .static-txt {
  // color: #000000;
  font-size: 3rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  display: flex;

  & .dark-static {
    color: #eeeeee;
    background-color: #303030;
  }
  & .light-static {
    color: #000000;
  }
}
// .wrapper .dynamic-txts {
//   margin-left: 15px;
//   height: 90px;
//   line-height: 90px;
//   overflow: hidden;

//   & .dark-dynamic {
//     background: #b0b0b0;
//   }

//   & .light-dynamic {
//     background: #eeeeee;
//     border: 1px solid black;
//   }
// }

.wrapper .dynamic-txts-light-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.wrapper .dynamic-txts-dark-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts-light-txts {
  li {
    list-style: none;
    color: #fc6d6d;
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
}

.dynamic-txts-dark-txts {
  li {
    list-style: none;
    color: #fc6d6d;
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
// .dynamic-txts li span {
//   // position: relative;
//   margin: 5px 0;
//   line-height: 50px;
//   & .dark-dynamic {
//     background: #b0b0b0;
//   }

//   & .light-dynamic {
//     background: #eeeeee;
//     border: 1px solid black;
//   }
// }

// .dynamic-txts-light-txt li span {
//   margin: 5px 0;
//   line-height: 50px;

//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background: #eeeeee;
//     border-left: 2px solid #fc6d6d;
//     animation: typing 3s steps(10) infinite;
//   }
// }

// .dynamic-txts-dark-txt li span {
//   margin: 5px 0;
//   line-height: 50px;
//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background: #b0b0b0;
//     border-left: 2px solid #fc6d6d;
//     animation: typing 3s steps(10) infinite;
//   }
// }

// .dynamic-txts li span::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: #eeeeee;
//   border-left: 2px solid #fc6d6d;
//   animation: typing 3s steps(10) infinite;

//   & .dark-dynamic {
//     background: #b0b0b0;
//   }

//   & .light-dynamic {
//     background: #eeeeee;
//   }
// }

.dynamic-txts-light-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #eeeeee;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;

  & .dark-dynamic {
    background: #b0b0b0;
  }

  & .light-dynamic {
    background: #eeeeee;
  }
}

.dynamic-txts-dark-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #303030;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;

  & .dark-dynamic {
    background: #b0b0b0;
  }

  & .light-dynamic {
    background: #eeeeee;
  }
}

.icon-light {
  color: #303030;
}

.icon-dark {
  color: #eeeeee;
}

.flex-skills {
  display: flex;
  justify-content: space-around;
  width: 100%;

  &-name {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.description-name {
  text-align: right;
  width: 30rem;
  font-size: 1.5rem;
  // margin-right: 3rem;
}

.sub-description-name {
  width: 30rem;
}

.flex-sills-member {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 8rem;
}

.margin-gap {
  margin: 2rem 0rem;
}
.skills-heading {
  font-weight: bold;
  font-size: 1.5rem;
}

.home-skillset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  width: 100%;

  & > h2 {
    margin-bottom: 2rem;
  }

  // margin: 0rem 2rem;
}

.home-skillset-columns {
  display: flex;
  justify-content: space-around;
  width: 100%;

  // margin: 0rem 2rem;

  & > div {
    // width: 30%;
    align-items: center;
  }
}

.vertical-line {
  border-left: 0.5px solid gray;
  height: auto;
}

.home-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
