.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  //   border-right: 0.02rem solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  //   animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

  &-hi-there {
    // border-right: 0.02rem solid rgb(0, 0, 0); /* The typwriter cursor */
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end;
  }

  &-name {
    animation-delay: 2.5s;
    border-right: 0.02rem solid rgb(0, 0, 0); /* The typwriter cursor */
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

// .typewriter-hi-there {
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   border-right: 0.02rem solid rgb(0, 0, 0); /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   letter-spacing: 0.15em; /* Adjust as needed */
//   animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end;
// }

// .typewriter-name {
//   overflow: hidden; /* Ensures the content is not revealed until the animation */
//   border-right: 0.02rem solid rgb(0, 0, 0); /* The typwriter cursor */
//   white-space: nowrap; /* Keeps the content on a single line */
//   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//   letter-spacing: 0.15em; /* Adjust as needed */
//   animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
// }
